body {
    background-color: #FFFAFA;
    color: #8B7E66:
}

nav {
    margin-bottom: 2em;
}
h1{
    font-size: 10em;
    margin-top; 1em;
}

h2 {
    font-size: 4em;
}

h3{
    font-size: 2.5em;
}

h4 {
    font-size: 1.5em;
}

.heading {
    color: #8B7E66;
    text-shadow: #F1EDC2 3px 3px 2px;
    font-family: 'Merriweather', arial, serif;
}

p {
    color: #8B7E66;
}

ul {
    list-style-type: none;
}

li {

    float: left;
}

footer {
    padding: 5em;
}

#event_info {
    margin-bottom: 5em;
}

#Pillar {
    color: #8B7E66;
    text-decoration: underline;
}


a:link, a:visited {
    text-decoration: none;
    color: #8B7E66;
}

a:hover, a:active {
    text-decoration: none;
    color: #8B7E66
}

nav a:link, a:visited {
    display:block;
    width:120px;
    font-weight:bold;
    color:#FFFFFF;
    background-color:#CDB38B;
    text-align:center;
    padding:4px;
    text-decoration:none;

}

nav a:hover, a:active {
    background-color:#8B795E;
}

