<nav class="span-24 last">
<ul>
  <li><a href="index.html">Home</a></li>
  <li><a href="http://goo.gl/maps/O6HI">Map</a></li>
  <li><a href="resources.html">Resources</a></li>
  <li><a href="login.html">Login</a></li>
</ul>
</nav>
