<div class="container">
  <iframe width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=118+S+Main+St,+Ann+Arbor,+MI+48104&amp;aq=0&amp;sll=37.0625,-95.677068&amp;sspn=47.838189,107.138672&amp;ie=UTF8&amp;hq=&amp;hnear=118+S+Main+St,+Ann+Arbor,+Washtenaw,+Michigan+48104&amp;z=14&amp;ll=42.280796,-83.748561&amp;output=embed"></iframe><br /><small><a href="http://maps.google.com/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=118+S+Main+St,+Ann+Arbor,+MI+48104&amp;aq=0&amp;sll=37.0625,-95.677068&amp;sspn=47.838189,107.138672&amp;ie=UTF8&amp;hq=&amp;hnear=118+S+Main+St,+Ann+Arbor,+Washtenaw,+Michigan+48104&amp;z=14&amp;ll=42.280796,-83.748561" style="color:#0000FF;text-align:left">View Larger Map</a></small>
</div>

