<h1 class="heading">Craftsman Guild</h1>
<% if notice %> <p class="notice"><%= notice %></p> <% end %>
<% if notice %> <p class="alert"><%= alert %></p> <% end %>

<!-- The navigation bar -->

<nav class="span-24 last">
<ul>
  <li><a href="index.html">Home</a></li>
  <li><a href="http://goo.gl/maps/O6HI">Map</a></li>
  <li><a href="resources.html">Resources</a></li>
  <li><a href="users/sign_in">Login</a></li>
</ul>
</nav>
