<!DOCTYPE html>
<html>
  <head>
    <link href="/stylesheets/blueprint/screen.css" rel="stylesheet">
    <!-- <link href="stylesheets/blueprint/print.css" rel="stylesheet"> -->
    <link href="/stylesheets/custom.css" rel="stylesheet">
    <!--[if lt IE 8]><link rel="stylesheet" href="css/blueprint/ie.css" type="text/css" media="screen, projection"><![endif]-->
    <link href='http://fonts.googleapis.com/css?family=Merriweather' rel='stylesheet' type='text/css'>
    <script type="text/javascript" src="/scripts/ie_hack.js"></script>
    <title>Craftsman Guild</title>
    <%= csrf_meta_tag %>
    <%= javascript_include_tag :defaults %>

</head>
  <body>
    <!-- This div is the container required for Blueprint CSS -->
  <%= yield %>


  </body>
</html>
